<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contoh Flask-MySQL</title>
</head>
<body>
  <h2>Contoh Flask-MySQL</h2>
  <table border="1">
    <tr>
      <td>No</td>
      <td>Nama</td>
      <td>No Telepon</td>
    </tr>
    {% for baris in container %}
    <tr>
      <td>{{ baris[0] }}</td>
      <td>{{ baris[1] }}</td>
      <td>{{ baris[2] }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>